h1 {
  font-size: 48px;
  color: rgb(236, 14, 207);
  margin: 0;
}

header p {
  margin: 12px;
}

a {
  color: rgba(0, 24, 245, 0.952);
  background-color: rgba(182, 2, 2, 0.479);

  border-radius: 10px;
  border: 5px dotted rgba(195, 12, 231, 0.479);

  font-size: 25px;
  padding: 4px 3px;
  display: inline-block;
}

a:hover {
  text-decoration: none;
  background-color: rgb(236, 14, 14);
}

ol {
  list-style: none;
  width: 400px;

  margin: 36px auto 0 auto;
  padding: 0;
}

li {
  background-color: rgba(246, 250, 0, 0.555);
  border-radius: 5px;
  margin: 32px;
  font-size: 20px;
  padding: 10px;

  box-shadow: 10px 5px 5px rgb(236, 14, 207);
}

li:hover {
  background-color: rgb(236, 14, 14);
}
