h2 {
  font-family: "Oswald", sans-serif;
  color: rgb(51, 27, 27);
  margin-top: 50px;
  margin-bottom: 30px;
}

p {
  margin: 10px;
}

#todays-challenge {
  color: rgb(238, 0, 178);
  font-weight: bold;
  font-size: 52px;
}

#skarpeta {
  width: 10%;
  height: auto;
  border-radius: 100%;
}

#main-div {
  border: 5px solid;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(236, 14, 206, 0.521);
  padding: 60px 0px;
  margin: -100px 29% 60px 29%;
}
